<div class='panel-heading'>
  <h2 class='panel-title'>uninvoiced hours: 
    <span class='uninvoiced'>
      <%= uninvoiced_hours %>
    </span>&nbsp;
    <button class='make-invoice btn btn-sm btn-primary
    <% if(disabled) { %>
    disabled
    <% } %>'>
      invoice&nbsp;
      <span class='glyphicon glyphicon-send'></span>&nbsp;</button>
  </h2>
</div>

<div class='panel-footer'>
  total hours: 
  <span class='total'>
    <%= total_hours %>
  </span>
</div>