<ol class='breadcrumb'>
  <li><a href="#/">home</a></li>
  <li class='active'>projects</li>
</ol>

<ul>
  <% projects.each(function(project) { %>
    <li>
      <%= project.escape('name') %> <a href="#/projects/<%= project.id %>">go to project</a>
    </li>
  <% }) %>
</ul>

<a href="#/projects/new">
  add a new project
</a>