<ol class='breadcrumb'>
  <li><a href="#/">home</a></li>
  <li class='active'>projects</li>
</ol>
<h1>All Projects</h1>
<ul>
  <% projects.each(function(project) { %>
    <li>
      <%= project.escape('name') %>&nbsp;<a href="#/projects/<%= project.id %>"><span class='take-me-there glyphicon glyphicon-circle-arrow-right'></span></a>
    </li>
  <% }) %>
</ul>

<% if(projects.length < 1) { %>
  <div class='get-to-work'>
    There's nothing here. <a href='#/projects/new'>Get working!</a>
  </div>
<% } else { %>
  <a href="#/projects/new">
    add a new project
  </a>
<% } %>

