<ul class="sidebar nav nav-pills nav-stacked">
  <li class='home'>
    <a href="/#">Home</a>
  </li>
  <li class='clients'>
    <a href="#/clients">
      Clients</a>
  </li>
  <li class='projects'>
    <a href="#/projects">
      Projects</a>
  </li>
  <li class='invoices'>
    <a href="#/invoices">
      Invoices</a>
  </li>
</ul>