<ol class='breadcrumb'>
  <li><a href="#/">home</a></li>
  <li class="active">clients</li>
</ol>

<ul>
  <% clients.each(function(client) { %>
    <li>
      <%= client.escape('name') %> <a href="#/clients/<%= client.id %>">go to profile</a>
    </li>
  <% }) %>
</ul>

<a href="#/clients/new">
  add a new client
</a>