<ol class='breadcrumb'>
  <li><a href="#/">home</a></li>
  <li class="active">clients</li>
</ol>
<h1>All Clients</h1>
<ul>
  <% clients.each(function(client) { %>
    <li>
      <%= client.escape('name') %> <a href="#/clients/<%= client.id %>"><span class='take-me-there glyphicon glyphicon-circle-arrow-right'></span></a>
    </li>
  <% }) %>
</ul>

<% if(clients.length < 1) { %>
  <div class='get-to-work'>
    There's nothing here. <a href='#/clients/new'>Get working!</a>
  </div>
<% } else { %>
  <a href="#/clients/new">
    add a new client
  </a>
<% } %>