// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div {
  border: thin solid blue;
}

#content > div {
  height: 500px;
}

#sidebar, #display {
  float: left;
  height: 500px;
}

#sidebar {
  width: 200px;
}

#display {
  width: 500px;
}