// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
}

#content::after {
  content: "";
  display: table;
  clear: both;
}

.deliverable > .show-subdeliverables {
  display: none;
}

.deliverable > .hide-subdeliverables {
  display: inline-block;
}

.deliverable.collapsed > .show-subdeliverables {
  display: inline-block;
}

.deliverable.collapsed > .hide-subdeliverables {
  display: none;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.checkbox.checked {
  background: image-url('checked.png');
  border-width: 0;
  background-size: cover;
  margin: 5px;
}

.checkbox.unchecked {
  background: image-url('unchecked.png');
  border-width: 0;
  background-size: cover;
  margin: 5px;
}

#main {
  background: white;
  border-left: thin solid grey;
  border-right: thin solid grey;
}

#display {
  float: left;
  width: 600px;
}

#sidebar {
  width: 200px;
  float: left;
  height: 100%;
  ul {
    width: 180px;
  }
}

.completed {
  color: lightgrey;
}

ul {
  list-style: none;
  padding: 0;
}

.subdeliverables {
  padding-left: 6px;
  border-left: thin dashed #428bca;
  margin: 0 13px;
}

.collapsed > .subdeliverables {
  display: none;
}

.deliverables {
  padding-top: 10px;
}

.deliverable {
  margin: 7px 0;
}

.new-subdeliverable {
  display: none;
}

blockquote {
  margin: 15px;
}

#canvasloader {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#project_description::-webkit-input-placeholder {
 color: transparent;
}

#project_description::-webkit-input-placeholder::before {
  display: block;
  color: #999;
  content: "1. Make website \A 2. ??? \A 3. Profit";
}

#deliverable_name {
  width: 250px;
}

.panel.panel-hours {
  padding: 5px;
  display: inline-block;
  margin-bottom: 0;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hours-display {
  display: inline-block;
}

.primary {
  color: #428bca;
}

.danger {
  color: #d9534f;
}

.invoice-table .center {
  text-align: center;
}

.invoice-table .center.total {
  font-weight: 700;
}

.btn-warning.disabled.greyed-out {
  background-color: #cecece;
  border-color: #999999;
}