<form class='new-subdeliverable form-inline' role='form'>
  <div class='form-group'>
    <label class='control-label'><span class='label label-warning'>New Subdeliverable</span>
      <input class='form-control' type="text" name="deliverable[name]">
    </label>
    <button class='btn btn-sm btn-default'>save</button>
  </div>
</form>