<form class='new-subdeliverable form form-inline'>
  <div class='form-group'>
    <label><span class='label label-warning'>New</span> Subdeliverable:
      <input class='form-control' type="text" name="deliverable[name]">
    </label>
    <button class='btn btn-sm btn-default'>save</button>
  </div>
</form>