<% var disabled %>
<% if(deliverable.get('completed')) { disabled = 'disabled' } %>

<% if(deliverable.get('completed')) { %>
  <button 
    class='open-deliverable btn btn-sm btn-default'>
    open it!
  </button>  
  <span class='completed'>
<% } else { %>
  <button 
    class='close-deliverable btn btn-sm btn-default'>
    close it!
  </button>
  <span>
<% } %>
  <%= deliverable.escape('name') %>
</span>

<button 
  class="remove-task btn btn-sm btn-warning <%= disabled %>">
  remove task
</button>
<button 
  class="show-new-subdeliverable btn btn-sm btn-default">
  +
</button>

<ul class="subdeliverables"></ul>