<% if(deliverable.get('completed')) { %>
  <button class='open-deliverable'>open it!</button>  
  <span class='completed'>
<% } else { %>
  <button class='close-deliverable'>close it!</button>
  <span>
<% } %>
  <%= deliverable.escape('name') %>
</span>

<button class="remove-task">remove task</button>