<ol class='breadcrumb'>
  <li class='active'>home</li>
</ol>
<h1>Dashboard</h1>
<h3>Open Projects</h3>
<ul>
<% openProjects.forEach(function(project) { %>
  <li>
    <%= project.escape('name') %> 
    <a href="#/projects/<%= project.id %>"
      ><span class='take-me-there glyphicon
              glyphicon-circle-arrow-right'></span></a>
  </li>
<% }) %>
</ul>
<h3>Closed Projects</h3>
<ul>
<% closedProjects.forEach(function(project) { %>
  <li> 
    <%= project.escape('name') %> 
    <a href="#/projects/<%= project.id %>"
      ><span class='take-me-there glyphicon        
              glyphicon-circle-arrow-right'></span></a>
  </li>
<% }) %>
</ul>