<span class='close glyphicon glyphicon-remove'></span>
<h4>Your addresses:</h4>
<ul class='addresses'>
  
</ul>
<div class='new-address-holder'>
  <a href='#' class='new-address'>new address</a>
</div>